.hero {
  $image-position: top left;
  $size: auto 100%;
  clip-path: inset(0);
  @apply self-stretch sm:w-1/2;
  > div:nth-child(1) {
    mask-image: url("/images/index-hero-mask.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: $image-position;
    mask-size: $size;
    @apply h-full w-full;
    > div {
      background-image: url("/images/index-hero.png");
      background-position: $image-position;
      background-size: $size;
      @apply fixed h-full w-1/2 bg-no-repeat;
    }
  }
  > div:nth-child(2) {
    background-image: url("/images/index-hero-main.png");
    background-position: $image-position;
    background-size: $size;
    @apply fixed top-0 h-full w-full bg-no-repeat sm:w-1/2;
  }
}
