@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:focus {
    @apply outline-none focus-visible:ring focus-visible:ring-black;
  }

  body {
    @apply overflow-x-hidden bg-gray-100 text-sm md:text-base;
  }

  h1 {
    @apply text-xl font-medium md:text-3xl;
  }

  h2 {
    @apply text-lg font-medium md:text-2xl;
  }

  svg {
    @apply inline align-baseline;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }
}

@layer components {
  button {
    &.btn-style1 {
      @apply transition-colors;
      &-blue {
        @extend .btn-style1;
        @apply hover:bg-blue-pr hover:text-white;
        &-selected {
          @extend .btn-style1;
          @apply bg-blue-pr text-white;
        }
      }
      &-red {
        @extend .btn-style1;
        @apply hover:bg-red-pr hover:text-white;
        &-selected {
          @extend .btn-style1;
          @apply bg-red-pr text-white;
        }
      }
      &-green {
        @extend .btn-style1;
        @apply hover:bg-green-pr hover:text-white;
        &-selected {
          @extend .btn-style1;
          @apply bg-green-pr text-white;
        }
      }
      &-yellow {
        @extend .btn-style1;
        @apply hover:bg-yellow-pr hover:text-white;
        &-selected {
          @extend .btn-style1;
          @apply bg-yellow-pr text-white;
        }
      }
    }

    &.btn-style2 {
      @apply rounded-full border-2 py-2 px-6 transition-colors;
      &-blue {
        @extend .btn-style2;
        @apply border-blue-pr text-blue-pr hover:bg-blue-pr hover:text-gray-100;
      }
      &-red {
        @extend .btn-style2;
        @apply border-red-pr text-red-pr hover:bg-red-pr hover:text-gray-100;
      }
      &-green {
        @extend .btn-style2;
        @apply border-green-pr text-green-pr hover:bg-green-pr hover:text-gray-100;
      }
      &-yellow {
        @extend .btn-style2;
        @apply border-yellow-pr text-yellow-pr hover:bg-yellow-pr hover:text-gray-100;
      }
    }
  }

  .div-style1 {
    @apply rounded-2xl bg-white shadow-2xl md:rounded-4xl;
  }

  .div-style2 {
    @apply rounded-2xl shadow-3xl md:rounded-4xl;
  }
}

@layer utilities {
  .debug {
    @apply border border-solid border-black;
  }

  .frosted {
    @apply bg-white bg-opacity-50 backdrop-blur-xl backdrop-filter;
  }

  .text-shadow-xl {
    text-shadow: 0px 20px 39px rgba(0, 0, 0, 0.15);
  }

  .img-frame {
    @apply overflow-hidden;
    img {
      @apply h-full w-full object-cover;
    }
  }

  .scroll-y {
    scroll-snap-type: y;
    &-man {
      scroll-snap-type: y mandatory;
    }
  }

  .scroll {
    &-start {
      scroll-snap-align: start;
    }
    &-end {
      scroll-snap-align: end;
    }
  }

  .auto-grid {
    &-base {
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
  }
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModalPortal {
  @apply relative z-50;
}

/* Custom scrollbar */

/* Dimensions */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
