@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans/NotoSans-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans/NotoSans-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans/NotoSans-Italic.ttf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }
}

@layer components {
  button {
    &.btn-style1 {
      @apply transition-colors;
      &-blue {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-blue;
      }
      &-red {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-red;
      }
      &-green {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-green;
      }
      &-yellow {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-yellow;
      }
    }
  }
}

@layer utilities {
  .frosted {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }

  .text-shadow-xl {
    text-shadow: 0px 20px 39px rgba(0, 0, 0, 0.15);
  }
}

.test {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.test2 {
  height: 1500px;
}
