@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-700;
  }

  h1 {
    @apply text-xl md:text-3xl font-medium;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Regular.woff");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Medium.woff");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Bold.woff");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Google Sans";
    src: url("/fonts/GoogleSans/GoogleSans-Italic.woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }
}

@layer components {
  button {
    &.btn-style1 {
      @apply transition-colors;
      &-blue {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-blue-pr;
      }
      &-red {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-red-pr;
      }
      &-green {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-green-pr;
      }
      &-yellow {
        @extend .btn-style1;
        @apply hover:text-gray-100 hover:bg-yellow-pr;
      }
    }

    &.btn-style2 {
      @apply transition-colors border-2 rounded-full py-2 px-10;
      &-blue {
        @extend .btn-style2;
        @apply text-blue-pr border-blue-pr hover:text-gray-100 hover:bg-blue-pr;
      }
      &-red {
        @extend .btn-style2;
        @apply text-red-pr border-red-pr hover:text-gray-100 hover:bg-red-pr;
      }
      &-green {
        @extend .btn-style2;
        @apply text-green-pr border-green-pr hover:text-gray-100 hover:bg-green-pr;
      }
      &-yellow {
        @extend .btn-style2;
        @apply text-yellow-pr border-yellow-pr hover:text-gray-100 hover:bg-yellow-pr;
      }
    }
  }

  div {
    &.div-style1 {
      @apply rounded-2xl md:rounded-4xl shadow-3xl bg-white;
    }
  }
}

@layer utilities {
  .frosted {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }

  .text-shadow-xl {
    text-shadow: 0px 20px 39px rgba(0, 0, 0, 0.15);
  }

  .em {
    @apply h-3 absolute -mt-3 inset-auto -z-10;
  }
}

.test {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.test2 {
  height: 1500px;
}
